@import "https://discord-modifications.github.io/dark-discord/src/switches.css";

.theme-dark {
   --accent: var(--info-positive-foreground) !important;
   --activity-card-background: var(--background-tertiary) !important;
   --background-accent: #292929 !important;
   --background-accent-alt: #242424 !important;
   --background-floating: #090909 !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.02) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-nested-floating: var(--background-floating);
   --background-primary: #141414 !important;
   --background-secondary: #111 !important;
   --background-secondary-alt: #0e0e0e !important;
   --background-tertiary: #0c0c0c !important;
   --bsi-invisible-color: #292929 !important;
   --bsi-offline-color: #292929 !important;
   --modal-background: var(--background-secondary) !important;
   --modal-footer-background: var(--background-tertiary) !important;
   --channel-text-area-placeholder: var(--text-muted) !important;
   --channels-default: var(--text-muted) !important;
   --channel-icon: var(--channels-default) !important;
   --channeltextarea-background: #202020 !important;
   --deprecated-card-bg: var(--background-secondary) !important;
   --deprecated-card-editable-bg: var(--background-secondary) !important;
   --deprecated-quickswitcher-input-background: var(--background-primary) !important;
   --deprecated-quickswitcher-input-placeholder: var(--interactive-muted) !important;
   --deprecated-store-bg: var(--background-primary) !important;
   --deprecated-text-input-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-border: rgba(0, 0, 0, 0.3) !important;
   --deprecated-text-input-border-disabled: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-border-hover: rgba(0, 0, 0, 0.7) !important;
   --header-primary: var(--text-normal) !important;
   --header-secondary: var(--text-muted) !important;
   --input-background: var(--background-secondary-alt) !important;
   --interactive-active: #fff !important;
   --interactive-hover: #dcddde !important;
   --interactive-muted: #747474 !important;
   --interactive-normal: #c8c8c8 !important;
   --scrollbar-auto-scrollbar-color-thumb: var(--background-accent) !important;
   --scrollbar-auto-scrollbar-color-track: rgba(0, 0, 0, 0.1) !important;
   --scrollbar-auto-thumb: var(--background-accent) !important;
   --scrollbar-auto-track: rgba(0, 0, 0, 0.1) !important;
   --scrollbar-thin-thumb: var(--background-accent) !important;
   --scrollbar-thin-track: transparent !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --toast-background: var(--background-secondary) !important;
   --toast-border: transparent !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.1) !important;
   --toast-contents: var(--background-tertiary) !important;
   --toast-header: var(--background-tertiary) !important;
}

.bd-modal-wrapper .bd-modal-body,
.inset-SbsSFp {
   background-color: var(--background-primary) !important;
}

.bd-modal-wrapper .bd-modal-inner {
   border: none !important;
   box-shadow: var(--elevation-high) !important;
}

.bd-modal-wrapper .error {
   border-bottom: 1px solid var(--background-modifier-accent) !important;
   color: var(--text-normal) !important;
}

.bd-modal-wrapper .header,
.theme-dark .headerNormal-T_seeN,
.css-12hk9yc-control,
.css-1adxh11-control,
.css-1emou8a-control {
   background-color: var(--background-tertiary) !important;
}

.bd-modal-wrapper .tab-bar-container .tab-bar-item {
   color: var(--text-normal) !important;
}

.css-3vaxre-menu,
.css-dwar6a-menu {
   background-color: var(--background-secondary) !important;
   border: none !important;
   box-shadow: var(--elevation-high) !important;
}

.css-ix84ef-menu {
   background-color: var(--background-secondary) !important;
   box-shadow: var(--elevation-high) !important;
}